.itemCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black 1px solid;
  width: 300px;
  height: 450px;
  margin: 10px;
  text-align: center;
}

.itemImage {
  width: 250px;
}

.name {
  margin: 0px;
}
